integrations/nodered/meitheal-flows.json
[
  {
    "id": "meitheal-tab",
    "type": "tab",
    "label": "Meitheal Automations",
    "disabled": false,
    "info": "Example flows for integrating Meitheal task events with Home Assistant via the HA event bus.\n\nImport this flow into Node-RED and deploy. Events will appear in debug when tasks are created, updated, completed, or become overdue in Meitheal.",
    "env": []
  },
  {
    "id": "meitheal-task-created",
    "type": "server-events",
    "z": "meitheal-tab",
    "name": "Meitheal: Task Created",
    "server": "",
    "version": 5,
    "event_type": "meitheal_task_created",
    "exposeAsEntityConfig": "",
    "waitForRunning": true,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "eventData" },
      { "property": "topic", "propertyType": "msg", "value": "meitheal_task_created", "valueType": "str" }
    ],
    "x": 190,
    "y": 80,
    "wires": [["meitheal-debug-created", "meitheal-notify-created"]]
  },
  {
    "id": "meitheal-debug-created",
    "type": "debug",
    "z": "meitheal-tab",
    "name": "Debug: Task Created",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.title",
    "statusType": "auto",
    "x": 460,
    "y": 60,
    "wires": []
  },
  {
    "id": "meitheal-notify-created",
    "type": "api-call-service",
    "z": "meitheal-tab",
    "name": "Notify: New Task",
    "server": "",
    "version": 7,
    "debugenabled": false,
    "domain": "persistent_notification",
    "service": "create",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"title\": \"New Meitheal Task\", \"message\": \"{{payload.title}}\\n\\nPriority: {{payload.priority}}\\nBoard: {{payload.board_id}}\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 460,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "meitheal-task-overdue",
    "type": "server-events",
    "z": "meitheal-tab",
    "name": "Meitheal: Task Overdue",
    "server": "",
    "version": 5,
    "event_type": "meitheal_task_overdue",
    "exposeAsEntityConfig": "",
    "waitForRunning": true,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "eventData" },
      { "property": "topic", "propertyType": "msg", "value": "meitheal_task_overdue", "valueType": "str" }
    ],
    "x": 190,
    "y": 200,
    "wires": [["meitheal-overdue-alert"]]
  },
  {
    "id": "meitheal-overdue-alert",
    "type": "api-call-service",
    "z": "meitheal-tab",
    "name": "Alert: Overdue Task",
    "server": "",
    "version": 7,
    "debugenabled": false,
    "domain": "persistent_notification",
    "service": "create",
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "data": "{\"title\": \"⚠️ Overdue Task\", \"message\": \"{{payload.title}} is past due!\\n\\nDue: {{payload.due_date}}\", \"notification_id\": \"meitheal_overdue_{{payload.task_id}}\"}",
    "dataType": "json",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 470,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "meitheal-task-completed",
    "type": "server-events",
    "z": "meitheal-tab",
    "name": "Meitheal: Task Completed",
    "server": "",
    "version": 5,
    "event_type": "meitheal_task_completed",
    "exposeAsEntityConfig": "",
    "waitForRunning": true,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "eventData" },
      { "property": "topic", "propertyType": "msg", "value": "meitheal_task_completed", "valueType": "str" }
    ],
    "x": 200,
    "y": 320,
    "wires": [["meitheal-debug-completed"]]
  },
  {
    "id": "meitheal-debug-completed",
    "type": "debug",
    "z": "meitheal-tab",
    "name": "Debug: Task Completed",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.title",
    "statusType": "auto",
    "x": 480,
    "y": 320,
    "wires": []
  },
  {
    "id": "meitheal-test-event",
    "type": "server-events",
    "z": "meitheal-tab",
    "name": "Meitheal: Test Event",
    "server": "",
    "version": 5,
    "event_type": "meitheal_test",
    "exposeAsEntityConfig": "",
    "waitForRunning": true,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "eventData" },
      { "property": "topic", "propertyType": "msg", "value": "meitheal_test", "valueType": "str" }
    ],
    "x": 180,
    "y": 440,
    "wires": [["meitheal-debug-test"]]
  },
  {
    "id": "meitheal-debug-test",
    "type": "debug",
    "z": "meitheal-tab",
    "name": "Debug: Test Event ✓",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.title",
    "statusType": "auto",
    "x": 460,
    "y": 440,
    "wires": []
  }
]
